/*///////////// CONFIGURACIONES GLOBALES /////////////////*/
@import url('https://fonts.googleapis.com/css2?family=Raleway&family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Teko:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Raleway', sans-serif;
}
/*////////////////////////////////////////////////////////*/


/*/////////////// HEADER NAV /////////////////////////////*/
.containerlogo{
    margin: 10px;
}
.containerlogo .logowww{
    width: 200px;
    margin-left: 30px;
    margin-top: 10px;
}
header{
    align-items: center;
    display: flex;
    flex-direction: row;
    background: black;
}
nav a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: bold;
    margin: 0 50px;
    position: relative;
}

nav{
    width: 100%;
    text-align: right;
}
.navhome::before{
    content: "";
    height: 3px;
    width: 0%;
    background: #00fff0;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s ease-out;
}
.navhome:hover::before{
    width: 100%;
}
.navweb::before{
    content: "";
    height: 3px;
    width: 0%;
    background: #2aff00;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s ease-out;
}
.navweb:hover::before{
    width: 100%;
}
.navport::before{
    content: "";
    height: 3px;
    width: 0%;
    background: #de00ff;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s ease-out;
}
.navport:hover::before{
    width: 100%;
}
.navcont::before{
    content: "";
    height: 3px;
    width: 0%;
    background: #ff0000;
    position: absolute;
    left: 0;
    bottom: -10px;
    transition: 0.2s ease-out;
}
.navcont:hover::before{
    width: 100%;
}

/*/////////////////////////////////////////////////////*/




/*////////////////// CONT BIENVENIDA //////////////////*/
.sep1{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sep1 img{
    width: 100%;
    height: 5px;
}
main{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    border-radius: 30px;
    margin: 90px 50px;
}

.containermain{
    display: flex;
    flex-direction: column;
    color: rgb(0, 0, 0);
    background-image: linear-gradient(
        0deg,
        rgba(0,0,0,0.5),
        rgba(0,0,0,0.5)
    ) 
    , url(/img/mainfoto.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    width: 90vw;
    height: 80vh;
    border-radius: 30px;
    text-align: center;
    justify-content: center;
    color: #fff;
    
}

main h1{
    font-size: 70px;
    margin: 0 30px;
}
main p{
    margin-top: 10px;
    font-size: 35px;
}
/*//////////////////////////////////////////////////*/




/*///////////////// CONT HERRAMIENTAS //////////////////*/
.sep2{
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 80px 0;
}
.sep2 img{
    width: 100%;
    height: 5px;
}
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.conteinertext h1{
    font-size: 65px;
}
.conteinertext p{
    font-size: 35px;
    text-align-last: center;
    margin-top: 20px;
}
.herramientas{
    margin: 100px;
    display: flex;
    flex-direction: row;
}
.herramientas img{
    width: 150px;
}
.conteinercalidad{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin: 0 50px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    width: 20vw;
    height: 60vh;
    font-family: 'Teko', sans-serif;
    box-shadow: 0px 10px 20px -10px #00fff0;
}
.conteinercalidad ul{
    margin: 10px 30px;
    list-style: none;
    margin-top: 40px;
}
.conteinersoporte ul{
    margin: 10px 30px;
    list-style: none;
    margin-top: 33px;
}
.conteinerdiseño ul{
    margin: 10px 30px;
    list-style: none;
    margin-top: 40px;
}
.conteinercalidad h1{
    margin: 10px 20px;
}
.conteinersoporte h1{
    margin: 10px 20px;
}
.conteinerdiseño h1{
    margin: 10px 20px;
}
.conteinersoporte .fotosoporte{
    margin-top: 7px;
}
.listacalidad .tilde{
    width: 20px;
    margin: 0px 6px;
}
.conteinersoporte{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin: 0 50px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    width: 20vw;
    height: 60vh;
    font-family: 'Teko', sans-serif;
    box-shadow: 0px 10px 20px -10px #ff0000;
}

.conteinerdiseño{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
    margin: 0 50px;
    background-color: rgb(245, 245, 245);
    border-radius: 20px;
    width: 20vw;
    height: 60vh;
    font-family: 'Teko', sans-serif;
    box-shadow: 0px 10px 20px -10px #de00ff;
}
/*/////////////////////////////////////////////////*/




/*//////////// FOOTER //////////////////////////////*/
.sep3{
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.sep3 img{
    width: 100%;
    height: 5px;
}
footer{
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 40vh;
    align-items: center;
    justify-content: center;
    color: #fff;
    background: black;
}
.tupaginaya{    
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 0 100px;
    text-align-last: left;
}
.tupaginaya img{
    width: 200px;
    margin: 20px 0;
}
.servicios{
    display: flex;
    flex-direction: column;
    margin: 0 100px;
}
.servicios a{
    text-decoration: none;
    color: #fff;
    margin: 2px 0;
}
.servicios h2{
    margin: 30px 0;
}
.contacto{
    margin: 0 100px;
    margin-top: 45px;
}
.contacto h2{
    margin: 5px 0;
}
/*///////////////////////////////////////////*/




